---
import { Image } from 'astro:assets';
interface Props {
  firstName: string;
  lastName?: string;
  role: string;
  description: string;
  website?: URL;
  imageUrl: string;
}

const { firstName, lastName, role, description, website, imageUrl } = Astro.props;
const name = `${firstName} ${lastName ? lastName.toUpperCase() : ''}`.trim();
---

<style>
  img,
  img::before {
    @apply h-24 w-24 xs:h-32 xs:w-32 object-cover rounded-full border-2 border-gray-400/30;
  }
</style>

<div
  class="flex flex-row space-y-0 space-x-4 xs:flex-col xs:space-x-0 xs:space-y-2 md:flex-row md:space-y-0 md:space-x-4"
>
  <div class="shrink-0">
    <Image
      class="bg-gray-400 animate-pulse-fast"
      alt={name}
      src={imageUrl}
      onload='this.classList.remove("animate-pulse-fast")'
      format="jpg"
    />
  </div>
  <div>
    <h3>{name}</h3>
    <p class="text-sm text-gray-300">{role}</p>
    <p class="my-3">{description}</p>
    {
      website && (
        <a class="btn text-xs" href={website} target="_blank" rel="noreferrer noopener">
          Website
        </a>
      )
    }
  </div>
</div>
