---
import '../components/GlobalStyles.astro';
import Footer from '../components/Footer.astro';
import { SITE_NAME } from '../consts';
import { getEntry } from 'astro:content';
const { data } = await getEntry('home', 'home');
import Header from '../components/Header.astro';
const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const SITE_DESCRIPTION = `${data.role} at ${data.faculty}, ${data.school}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <link rel="icon" type="image/png" href="/favicon32.png" />
    <link rel="apple-touch-icon" href="/favicon192.png" />
    <meta property="og:type" content="website" />
    <meta name="og:title" content={SITE_NAME} />
    <meta name="og:description" content={SITE_DESCRIPTION} />
    <meta property="og:image" content="/favicon192.png" />
    <meta property="og:image:alt" content={SITE_NAME} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={SITE_NAME} />
    <meta name="twitter:description" content={SITE_DESCRIPTION} />
    <meta name="twitter:image" content="/favicon192.png" />
    <link
      rel="preload"
      href="/_astro/karla-latin-wght-normal.fb90c9d9.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <title>{title} | {SITE_NAME}</title>
  </head>
  <body class="bg-gray-500 text-gray-100">
    <Header />
    <main
      class=`container min-h-[calc(100vh-319px)] ${currentPath === "/" ? 'max-w-5xl' : 'max-w-4xl'} mx-auto px-6 mb-8`
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
